body {
  margin: 0;
  padding: 0;
}

/*
---------------HEADER----------------
*/

.header, .footer{
  padding: .75em;
  display: flex;
  justify-content: center;
}
.headerDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  height: 2.5em;
  width: 2.5em;
  margin-right: 1em;
}
.linkedin{
  width: 2.25em;
  height: 2.25em;
}
.link-text{
  text-decoration: none;
}
.iconDiv{
  text-align: center;
}
.iconDiv *{
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.footer{
  padding-top: .25em;
}

/*
---------------BLOG----------------
*/

.blogPost img{
 max-width: 95%;
 border: 1px solid #eee;
 padding: .5em;
}
.italics{
  font-style: italic;
}
.blogPostTitle{
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 2.5em;
}
.blogPostUpdatedDate img{
  height: 2.5em;
  width: 2.5em;
  margin-right: .25em;
  border-radius: 50%;
  padding: 0;
}
.blogPostUpdatedDate * {
  font-style: italic;
  display: inline-block;
  vertical-align: middle;
}
.blogPostUpdatedDate {
  margin: 1em;
}
.spacer{
 border-top: 1px solid #eee;
 margin-top: 2em;
 margin-bottom: 1em;
}

.tag {
  display: inline-block;
  vertical-align: bottom;
  color: black;
  background-color: #eee;
  padding: .5em;
  margin: .25em;
}
.tagText{
    margin: .25em;
}
.blogListItem{
  border-top: 1px solid #eee;  
  border-right: 1px solid #eee;  
  border-left: 1px solid #eee;  
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogListItem:hover{
  background-color: #eee;
}
.blogList{
  border-bottom: 1px solid #eee;
  margin-top: 3em;
}
.chevronDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #eee;
}
.blogListItemHeader{
  padding: 1em;
  text-align: center;
}