body {
  margin: 0;
  padding: 0;
}

/*
---------------HEADER----------------
*/

.header{
  padding: .75em;
  display: flex;
  justify-content: center;
}
.headerDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  height: 2.5em;
  width: 2.5em;
  margin-right: 1em;
}
.linkedin{
  width: 3em;
}
.link-text{
  text-decoration: none;
}

/*
---------------BLOG----------------
*/

.blogPost img{
 max-width: 95%;
 border: 1px solid #eee;
 padding: .5em;
}
.italics{
  font-style: italic
}
.blogPostTitle{
  text-align: center;
  padding: 2.5em;
}